body {
	background-image: url(images/star-background.jpg);
	margin: 0px;
	padding: 0px;
}
 
.wrapper {
	background-color: #A69F8A;
	width: 950px;
	border-top-width: 10px;
	border-right-width: 2px;
	border-bottom-width: 10px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #f2f2f2;
	border-right-color: #f2f2f2;
	border-bottom-color: #f2f2f2;
	border-left-color: #f2f2f2;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
.nav li a {
	background-color: #f2f2f2;
	margin-right: 40px;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	border: 2px solid #222940;
	color: #222940;
	text-decoration: none;
}

.nav {
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.nav li {
	display: inline;
}
.nav li a:hover {
	color: #f2f2f2;
	background-color: #222940;
}
.content {
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.main {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 15px;
}
.home-img img {
	border: 1px solid #000;
	margin-right: 5px;
	margin-bottom: 5px;
}
.left-side {
	text-align: left;
	vertical-align: top;
}
.unodoc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
p {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3mm;
	margin-left: 0px;
	line-height: 1.5mm;
}
.unodoc p {
	margin: 0px;
	padding-top: 0px;
}
